@import url(../Style/global/global.css);
.knowledge-base-banner {
  width: 100%;
  padding: 200px 0 150px 0;
  background-image: url(../../public/images/knowledge-base/knowledge-banner-img.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.knowledge-base-banner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.knowledge-base-banner-wrapper .eas-knowledge-title {
  position: absolute;
  font-size: 44px;
  font-family: var(--secondary-font);
  width: 80%;
  margin: auto;
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.knowledge-base-banner-wrapper .eas-knowledge-banner-img {
  width: 100%;
}
.knowledge-base-banner-wrapper .eas-knowledge-banner-img img {
  width: 100%;
}
.knowledge-base-faq {
  background-color: var(--white-color);
}
.knowledge-base-search-item h4 {
  color: #566e8b;
  font-size: 16px;
  text-align: center;
  font-family: var(--third-font);
}
.knowledge-base-search-input-fluid {
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  padding: 15px 30px;
}
.knowledge-base-search-input-fluid input {
  border: none;
}

/*  Faq Card */
.knowledge-faq-item-card {
  border-radius: 5px;
  height: 100%;
  background: var(--white-color);
  padding: 20px;
  box-shadow: 0px 10px 100px 0px rgba(40, 47, 98, 0.08);
}
.knowledge-faq-item-header {
  padding-bottom: 15px;
  border-bottom: 2px solid var(--main-color);
}
.knowledge-faq-item-left .faq-title-item {
  color: #2c2c2c;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.knowledge-faq-item-right span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  background-color: var(--main-color);
}
.knowledge-faq-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
.knowledge-faq-list-item a {
  color: #2c2c2c;
  transition: 0.4s;
}
.knowledge-faq-list-item a:hover {
  color: var(--main-color);
}
.knowledge-explore-more-btn {
  border-radius: 5px;
  border: 1px solid #01c2d2;
  background: #fff;
  padding: 10px 20px;
  color: var(--main-color);
  transition: 0.4s;
  margin-top: 15px;
}
.knowledge-explore-more-btn:hover {
  background: var(--main-color);
  color: var(--white-color);
}
/* =================== Faq Details =========== */
.faq-question-details-wrapper{
  background-color: #f2f4f7;
}
.faq-question-con-wrapper{
  width: 80%;
  margin:auto ;
}
.faq-question-route a{
  font-size: 18px;
  color: var(--main-color);
}
.faq-question-route .faq-title{
  color: var(--black-color);
}
.faq-question-details-content h1{
  font-size: 35px;
  font-family: var(--primary-font);
  color: var(--black-color);
  margin-bottom: 20px;
}
.faq-question-details-content p{
  color: var(--black-color);
}
.faq-question-details-footer .faq-footer-item{
  background-color: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-question-details-footer .faq-sub-question-dis{
  color: var(--black-color);
  font-family: var(--primary-font);
}
.faq-footer-emoji span{
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  cursor: pointer;
}
.faq-footer-emoji span:hover{
  background-color: var(--white-color);
  color: var(--main-color);
  transform: translateY(-5px);
}
.faq-social-media-share-item  .faq-footer-item-social .social-media-link{
  margin-bottom: 0;
}
.faq-social-media-share-item  .faq-footer-item-social .social-media-link a{
  background-color: var(--main-color);
  border: none;
}
.faq-social-media-share-item  .faq-footer-item-social .social-media-link a:hover{
  background-color: var(--white-color);
  color: var(--main-color);
  border: none;
}
.faq-help-item-con .faq-help-left-item .faq-help-btn{
  color: #566e8b;
  font-size: 18px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.faq-help-item-con .faq-help-left-item .faq-help-btn:hover{
  color: var(--main-color);
}
.faq-help-right-item span{
  font-size: 18px;
  color: #566e8b;
}
.faq-help-model-item .ticket-model-input-fluid label{
 color: #7e8da2;
 font-size: 16px;
}
.faq-help-model-item .faq-help-model-item-btn{
 width: fit-content;
}



/* ================================== */


@media screen and (max-width: 768px) {
  .faq-question-con-wrapper {
    width: 100%;
}
  .knowledge-base-banner {
    width: 100%;
    padding: 120px 0 100px 0;
    background-image: url(../../public/images/knowledge-base/knowledge-banner-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .knowledge-base-banner-wrapper .eas-knowledge-title {
    font-size: 30px;
    width: 100%;
}
.faq-question-details-content .faq-question-route {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
}