.nft-pricing{
    background: var(--white-color);
    color: var(--black-color);
}
.nft-pricing-wrapper {
    /* width: 80%; */
    margin: auto;
}
.nft-pricing-header-items{
    display: grid;
    grid-template-columns: 25% 20% 55%;
    background-color: var(--main-color);
}
.nft-pricing-header-item{
    padding: 15px 20px 20px 20px ;
    border: 0.5px solid #eeeeee;
}
.nft-pricing-header-item h2{
    font-size: 20px;
    font-family: var(--primary-font);
    color:var(--white-color);
}
.nft-pricing-content-items {
    display: grid;
    grid-template-columns: 25% 20% 55%;
  
}
.nft-pricing-item{
    padding: 10px 20px 15px 20px ;
    border: 0.5px solid #eeeeee;
    display: flex;
    align-items: center;
}
.nft-pricing-item a{
    color: #0087FF;
    font-weight: 600;
}
.nft-pricing-item p{
    color: #2C2C2C;
    text-align: start;
}
.price-footer p{
    color: #9A9A9A;
}


@media screen and (max-width: 768px) {
    .nft-pricing-header-items {
        display: grid;
        grid-template-columns: 100%;
        background-color: var(--main-color);
    }
    .nft-pricing-content-items {
        display: grid;
        grid-template-columns: 100%;
    }
}